@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0px;
}
.site{
    background-color: aliceblue;
    margin: 20px 20px 20px 20px;
}
.espaco {
    margin-left: 15px;
}

.cabeca {
    
    background-color: green;
    padding: 10px;

    
}
.cabeca > h1 {
    color: white;
    text-align: center;
}
.cabeca > p {
    text-align: center;
}
.verde > strong {
    color: green;
    
}
    
.branco {
    color: white;
}
nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    
}

nav > a:hover { 
    text-decoration: underline;
}

.text1 {
    font-family: idroid, Helvetica, sans-serif;
    display: inline;
    margin: 10px 10px 10px 10px;
}

.text2 {
    font-family: idroid, Helvetica, sans-serif;
    background-image: linear-gradient(to right, green -219% , white);
    
}
.video {
    text-align: center;
    background-color: green;
    
}

.rodape {
    background-color: green;
    padding: 1px;
}
.rodape > p {
    font-style: italic;
    color: white;
    text-align: center;
    margin: 3px;
}
.tabela {
   background-color: rgb(132, 221, 132);
   border-radius: 10px;
   padding: 10px;
   box-shadow: 2px 1px 10px 1px black;
}
.tabela > h2 {
    background-color: green;
    padding: 20px;
    border-radius: 10px;
}
.especial::after {
    content: '☭';  
}
.centralizar  {
    text-align: center;
}
